body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

.calculator {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
}

.display {
    background-color: #333;
    color: white;
    text-align: right;
    padding: 20px;
    font-size: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
    height: 80px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.btn {
    background-color: #e0e0e0;
    border: none;
    padding: 20px;
    font-size: 1.5em;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #d4d4d4;
}

.equal {
    background-color: #f9a825;
    grid-column: span 2;
}

.equal:hover {
    background-color: #f57f17;
}

.zero {
    grid-column: span 2;
}
